html,body{
  text-align:center;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background-color:#EEE;
}
ul{
  list-style-type:none;
  margin:0;
  padding:0;
}      
p,h1,h2,h3,h4,h5,h6,h7,div,span{
  text-align:start;
  font-family:Verdana,Arial,sans-serif;
  shape-rendering: crispEdges;
  line-height:1.5em;
  font-weight:lighter;
}
h1,h2,h3,h4,h5,h6,h7,.timeline-label{
    font-family: "Helvetica Nueue","Roboto",Helvetica,Arial,FontAwesome;
    background-color: #FF7300;
    color: white;
    padding: 0 1em;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
}

.axis text {
  font-size: 18px;
}

.timeline-label {
  font-size: 16px;
  text-align:right;
  width:100%;
  cursor:pointer;
  display:block;
  fill-color:yellow;
}

svg.scrollable {
  cursor:ew-resize;
}

.coloredDiv {
  height: 20px;
  width: 20px;
  float: left;
}
.betterlabel{
  height:200px;
  width:100px;  
}
#timeline{
  background-color:white;
  
  border: solid 1px rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
#timeline svg{
  width:100%;
}
#desc,#party{
  margin: 1em;
  display: inline-block;
  max-width: 600px;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
#desc h1,#party h1,.popup h1{
  margin:0;
}
#desc p,#party p,.popup p{
  margin:1em;
}
.party-list li,.popup li{
  margin:0;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  flex-wrap:nowrap;
  flex: 1 0 auto;
  border-top:solid 1px rgba(0,0,0,.2);
  top:-1em;
  padding:0 1em;
}
.party-list b,.popup b{
}
.party-list li>button,.popup li>button{
  flex:0 0 0;
}
.party-list.disabled .play-button,.party-list.disabled .more-button{
  background-color:#aaa;
  cursor:not-allowed;
  box-shadow:none;
}

button,.button{
  display:inline-block;
  text-decoration:none;
  background-color: #FF7300;
  border:none;
  border-radius:1em;
  padding:1em;
  margin:.5em 1em;
  color:white;
  font-family: "Helvetica Nueue","Roboto",Helvetica,Arial,sans-serif;
  transition: all .5s;
  border:solid 1.5px rgba(0,0,0,.2);        
  box-shadow:0 1px 5px rgba(0,0,0,.3);
  cursor:pointer;
  text-decoration:none;
}
.button-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}
.button-sm{
  margin:.5em;
  color:white;
  border-radius:1000px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  height:1em;
  width:1em;
  text-align:center;
}

.button-sm:before{  
  font: normal normal normal 14px/1 FontAwesome;
  font-size:1.5rem;
}
.play-button:before{
  content:"\f04b";
}
.more-button:before{
  content:"\f0ca";
}
.info-button{  
  background-color:#1F77B4;
}
.info-button:before{
  content:"\f129";
}
.skip-button:before{
  content:"\f051";
}
.toggle-subtitles-button:before{
  content:"\f20a";
}
.cycle-subtitles-button:before{
  font-size:1.2rem;
  content:"\f20a\f061";
}
.cycle-audio-button:before{
  content:"\f1ab";
}
.pause-button:before{
  content:"\f04c";
}
.close-button{
  background-color:#ff4444;
  position:absolute;
  top:0;
  right:0;
}
.close-button:before{
  content:'\f00d';
  font-size:2rem;
}
#override+b:before{
  content:" off";
}
#override:checked+b:before{
  content:" on";
}

button:hover,.button:hover,button:active,.button:active{
  box-shadow:0 2px 13px rgba(0,0,0,.5);
}
button:focus,.button:focus {
  outline:0;
  box-shadow:0 2px 13px rgba(0,0,0,.5);
}
label{
  display:block;
  cursor:pointer;
  margin:1em;
}
.popup{
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:100;
}
.popup .popup-inner{
  margin:1em; 
  display:block;
  background-color:white;
  width:initial;
  height:initial;
}
.popup-inner{  
  border: solid 1px rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.popup.up{
  display:block;
}